*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  background: rgb(14, 14, 75);
}
.container{
  width: 80%;
  margin: 0 auto;
}
.plus{
  display: flex;
  align-items: center;
  justify-content: center;
width: 20px;
height: 20px;
border: 1px solid black;
background: white;
color: black;
border-radius: 5px;
}
.plus:active{
  background: blue;
  color: white;
}

.minus{
  display: flex;
  align-items: center;
  justify-content: center;
width: 20px;
height: 20px;
border: 1px solid black;
background: white;
color: black;
border-radius: 5px;
}
.minus:active{
  background: blue;
  color: white;
}
.text span{
  font-weight: 900;
  color: rgb(52, 255, 37);
}